[Desktop Entry]
Type=Application
Name=ngPost
Exec=ngPost %F
Icon=ngPost
Comment=ngPost Custom by Hydro74000
Terminal=false
Categories=Network;
X-AppImage-Version=
